@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	background-color:#FFFCF5;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: white; 
}

.button {
	font-size:36px;
	background-color:#0CE5BD;
	padding: 1rem;
	border-radius: 15px;
	display:inline-block;
	margin: 6rem 1.5rem;
}


.button:hover {
	background-color:#0CB29B;
	
}

.button-section{
	text-align:center;
	
}